@import '@fontsource-variable/fraunces';

article img {
    width: 100%;
    height: auto;
    display: block;
}

article img:hover { 
    transform: scale(1.05) rotate(3deg) translate(20px, 0px);
  }

.post-flexbox {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 20px; /* Adjust the gap between the posts as needed */
}

article {
    box-sizing: border-box;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 2px;
    background: aqua
}


@media (max-width: 1024px) {
  .post-flexbox {
      grid-template-columns: 1fr; /* Single column on smaller screens */
  }
}

@media (max-width: 768px) {
  .post-flexbox {
      grid-template-columns: repeat(2, 1fr); /* Two columns on smaller screens */
  }
}

/* Center the last post if there's an odd number of posts */
.post-flexbox article:nth-child(odd):last-child {
  grid-column: 1 / 3; /* Center across both columns */
  justify-self: center; /* Center the content horizontally */
  width: calc(50% - 20px); /* Maintain the same width as other articles */
}
